@model SosD.Models.Presupuesto

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Presupuesto</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Descripcion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cantidad)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cantidad)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TipoPrenda)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TipoPrenda.Descripcion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ImagenPrenda)
        </dt>
        <dd class = "col-sm-10">
            <img src="~/images/@Model.ImagenPrenda"
                 class="rounded-start"
                 height="150" width="150"
                 asp-append-version="true" />
            <br>
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Diseño)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Diseño.Descripcion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PrecioUni)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PrecioUni)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PrecioTotal)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PrecioTotal)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaRegistro)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaRegistro)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
