@model IEnumerable<SosD.Models.Presupuesto>

@{
    ViewData["Title"] = "Presupuestos";
}

<h1 style="font-family:Impact,Arial;">Presupuestos</h1>

<p>
    <a asp-action="Create" class="btn btn-dark">Crear un nuevo presupuesto</a>
</p>
<table class="table" style="box-shadow: 10px 10px 5px lightgrey;">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Descripcion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cantidad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TipoPrenda)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImagenPrenda)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Diseño)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PrecioUni)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PrecioTotal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaRegistro)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cantidad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TipoPrenda.Descripcion)
            </td>
            <td>
                    <img src="~/images/@item.ImagenPrenda"
                         class="rounded-start"
                         height="150" width="150"
                         asp-append-version="true" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Diseño.Descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PrecioUni)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PrecioTotal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaRegistro)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
